[Unit]
Description=eq3 TRV Worker

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/eq3_trv_proxy/worker.py
RestartSec=30
Restart=always
User=pi

[Install]
WantedBy=multi-user.target