[Unit]
Description=eq3 TRV Worker

[Service]
Type=simple
ExecStart=/home/pi/trv_server/trv_venv_master_bluepy/bin/python3 /home/pi/trv_server/eq3_trv_proxy/worker.py
RestartSec=30
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
