[Unit]
Description=Run TRV poller every 10 mins
Requires=eq3trv.service

[Timer]
Unit=eq3trv.service
OnUnitInactiveSec=10m
RandomizedDelay=3m

[Install]
WantedBy=timers.target
